$primary-color-light: #ffde97;
$primary-color-dark: #bb8000;
$primary-color: #FFC107;

body {
    width: 100vw;
    height: 100vh;
    background-color: #ffde97;
    display: flex;
    justify-content: center;
    align-items: center;

    // LOGIN、SIGNUP展開後的標題顏色
    .accordion-button:not(.collapsed) {
        background-color: $primary-color;
        color: #ffffff;
        text-align: center;
    }

    h4 {
        margin-top: 25px;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h5 {
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .container {
        width: 700px;
        background-color: #ffffff;
        margin: 0;
        padding-right: 0;
        padding-left: 0;


        label {
            margin: 0 0;
        }
    }

}



input {
    margin: 10px 0;
    border-radius: 50px;
}

.form-check {
    margin: 10px 10px;
}

.login-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    P {
        margin-top: 10px;
        margin-bottom: 50px;
    }

}